body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.app {
    display: block;
    position: relative;
}
.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}