.login_outside {
    position: absolute;
    z-index: 10;
}

.login {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

.background {
    display: flex;
    position: absolute;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.background>img {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;

}

/* .left {
    width: 45vw;
    display: flex;
    align-items: center;

}

.left_inside {
    margin-left: 20vw;
    height: 350px;
} */

.middle {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle_content_inside {
    display: block;
    width: 385px;
    height: 490px;
    background-color: white;
    border-radius: 10px;
}

.middle_content_logo {
    display: flex;
    justify-content: center;
    background-color: #10cc84;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.middle_content_logo>img {
    margin: 14px 0px 10px 0px;
    height: 36px;
    filter: drop-shadow(1.5px 1.5px 1.5px#494d4b);
}

.middle_content_title {
    display: flex;
    justify-content: center;
}

.middle_content_title_inside {
    font-family: "Hind Madurai";
    font-weight: 700;
    font-size: 26px;
    color: black;
    letter-spacing: 0.9px;
    margin: 12px 0px 4px 0px;
}

.middle_content_form_outside {
    display: flex;
    justify-content: center;
}

.middle_content_form {
    display: block;
    align-items: center;
    justify-content: center;
}

.middle_content_form_input {
    width: 275px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9fa1a0;
    padding: 5px 0px 0px 10px;
    margin: 2px 0px 1px 0px;
    font-family: "Hind Madurai";
    font-size: 18px;
    font-weight: 700;
    color: #474f46;
}

.middle_content_form_input::placeholder {
    display: flex;
    align-items: center;
    padding: 0px;
    font-family: "Hind Madurai";
    font-size: 18px;
    font-weight: 700;
    color: #7d807e;
}



.middle_content_form_button {
    font-family: "Hind Madurai";
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    width: 281.6px;
    height: 45.6px;
    border-radius: 5px;
    border-width: 0px;
    padding: 0px;
    background-color: #474f46;
    color: white;
    cursor: pointer;
}

.middle_content_form_change {
    display: flex;
    justify-content: center;
    color: #8f8f8f;
    font-family: "Hind Madurai";
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}

.middle_content_form_change_text {
    margin: 0px 0px 0px 0px;
}

.middle_content_form_radio {
    display: flex;
    justify-content: space-around;
    font-family: "Hind Madurai";
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    height: 20px;
    margin-bottom: 10px;
}

.middle_content_form_radio_text {
    color: #7d807e;
}

.middle_content_form_radio_gender {
    color: #474f46;
}

.middle_content_form_success_center {
    display: flex;
    justify-content: center;
}

.middle_content_form_success {
    font-family: "Hind Madurai";
    font-size: 15px;
    opacity: 0;
}

.middle_content_form_success.active {
    font-family: "Hind Madurai";
    font-size: 15px;
    color: #68e364;
    font-weight: 700;
    opacity: 1;
    line-height: 35px;
    height: 30px;
}