html,
body {
    margin: 0;
    padding: 0;
}

@media (max-width:1920px) {
    :global(.settingPage) {
        position: absolute;
        z-index: 3;
    }

    .loader {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .homepage {
        margin-left: 20vw;
        width: 80vw;
        height: calc(100%-52px);
        display: flex;
        position: relative;
    }

    .middle {
        width: 80vw;
        display: block;
    }

    .middle_head {
        display: flex;
        position: fixed;
        background-color: #fafaeb;
        z-index: 4;
        filter: drop-shadow(0.6px 0.6px 0.6px #787d7b);
        width: 100%;
    }

    .head {
        margin-top: 49px;
        width: 100%;
        height: 63px;
        display: flex;
        width: 100vw;
    }

    .head_content {
        display: flex;
        align-items: center;
        margin-left: 15.5vw;
    }

    .head_content_text1 {
        font-family: "Hind Madurai";
        font-size: 21px;
        font-weight: 700;
        color: #2b2b2b;
        border-width: 0px;
        letter-spacing: 1px;
        margin-left: 10px;
    }

    .head_content_text2 {
        border-width: 0px;
        margin-left: 10vw;
        padding: 4px 6px 4px 6px;
        font-family: msjhbd;
        font-size: 18px;
        font-weight: 700;
        color: #7d6305;
        letter-spacing: 2px;
        background-color: #fafaeb;
        border-radius: 5px;
    }

    /* .head_content_text2:hover {
        background-color: #deffe2;
        border: 1.6px solid #9adba6
    } */

    .head_content_text3 {
        border-width: 0px;
        margin-left: 45px;
        font-family: "Hind Madurai";
        font-size: 18px;
        font-weight: 400;
        color: #6c7a6e;
        letter-spacing: 2px;
        background-color: #edfcf1;
        padding: 4px 6px 4px 6px;
        border-radius: 5px;
    }

    .head_content_text3:hover {
        background-color: #deffe2;
        border: 1.6px solid #9adba6
    }

    .head_content_img>img {
        display: inline-block;
        overflow: hidden;
        height: 29px;
    }

    .head_content_heart>img {
        margin: 3px 0px 0px 60px;
        height: 20px;
    }

    .scrollbars {
        width: 80vw;
        height: 100%;
    }

    .background {
        position: fixed;
        background-color: #EDF0EE;
        z-index: 2;
        width: 100%;
        height: 100%
    }

    .all {
        margin-top: 112px;
        width: 100%;
        display: block;
        position: absolute;
        z-index: 3
    }

    .under {
        width: 100%;
        display: flex;

    }

    .under_inside {
        margin-left: 10vw;
        display: block;
        width: 48vw;
        /* position: absolute;
        z-index: 3;
        top: 49px; */
    }

    .under_inside_content {
        display: flex;
        justify-content: center;
        background-color: white;
        border: 1.57px solid #a2a6a4;
        border-radius: 8px;
        margin: 22px 0px 22px 0px;
        filter: drop-shadow(1px 1px 1px #5e5e5e)
    }

    .under_inside_content_account {
        width: 29vw;
        display: block;
        margin: 0px 0px 60px 0px;
    }

    .under_inside_content_account_inside {
        margin-top: 35px;
    }

    .under_inside_content_account_inside2 {
        margin-top: 20px;
    }

    .under_inside_content_account_title {
        display: flex;
        justify-content: space-between;
        margin: 0px 15px 0px 15px;
    }

    .under_inside_content_account_title_text {
        font-size: 25px;
        font-weight: 600;
        font-family: "Hind Madurai";
        color: #3d3d3d;
        margin: 0px 0px 7px 0px;
    }

    .under_inside_content_account_title_button {
        cursor: pointer;
        height: 31px;
        font-size: 16px;
        font-family: "Hind Madurai";
        letter-spacing: 0.3px;
        background-color: #9c7b06;
        color: white;
        font-weight: 500;
        padding: 4px 8px 4px 8px;
        border-width: 0px;
        border-radius: 6px;
    }

    .under_inside_content_account_line_outside {
        padding: 0px 0px 5px 0px;
        display: flex;
        align-items: center;
    }

    .under_inside_content_account_line {
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account_info_outside {
        margin: 0px 15px 0px 15px;
    }

    .under_inside_content_account_info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 3px 0px 0px 0px;
    }

    .under_inside_content_account_info2 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 13px 0px 0px 0px;
    }


    .under_inside_content_account_notice_outside {
        display: flex;
        justify-content: end;
        margin-right: 15px;
    }




    .under_inside_content_account_notice {
        font-family: "Hind Madurai";
        font-size: 15px;
        color: red;
        margin-left: 10px;
        line-height: 19px;
        opacity: 1;
    }

    .under_inside_content_account_notice_none {
        font-family: "Hind Madurai";
        font-size: 15px;
        color: red;
        margin-left: 10px;
        opacity: 0;
    }

    .under_inside_content_account_notice2 {
        font-family: "Hind Madurai";
        font-size: 15px;
        color: red;
        margin: 4px 0px 0px 10px;
        line-height: 19px;
        opacity: 1;
    }

    .under_inside_content_account_notice2_none {
        font-family: "Hind Madurai";
        font-size: 15px;
        color: red;
        margin: 4px 0px 0px 10px;
        line-height: 19px;
        opacity: 0;
    }

    .under_inside_content_account_notice3 {
        font-family: "Hind Madurai";
        font-size: 15px;
        color: #68e364;
        margin: 4px 0px 0px 10px;
        line-height: 19px;
        opacity: 1;
    }

    .under_inside_content_account_notice3_none {
        font-family: "Hind Madurai";
        font-size: 15px;
        color: #68e364;
        margin: 4px 0px 0px 10px;
        line-height: 19px;
        opacity: 0;
    }

    ::placeholder {
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_intro {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 6px 0px 0px 0px;
    }

    .under_inside_content_account_text {
        width: 90px;
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_intro_text {
        width: 90px;
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
        margin-top: 10px;
    }

    .under_inside_content_account_text1 {
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
        margin-top: 2px;
    }


    .under_inside_content_account_text3 {
        margin-top: 10px;
        line-height: 20px;
    }

    .under_inside_content_account_text4 {
        font-size: 15px;
        line-height: 20px;
    }

    .under_inside_content_account_input {
        width: 267px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_input_password {
        width: 267px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_input_password::placeholder {
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 0px;
        color: black;
    }

    .under_inside_content_account_textarea1 {
        width: 309.4px;
        height: 108px;
        border-radius: 3px;
        border: 1px solid black;
        resize: unset;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_textarea2 {
        width: 309.4px;
        max-width: 100%;
        height: 200px;
        min-height: 50px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        resize: vertical;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_form {
        display: flex;
        width: 325px;
        justify-content: space-between;
    }

    .under_inside_content_account_form2 {
        display: block;
        width: 325px;
    }

    .under_inside_content_account_address {
        font-family: "Hind Madurai";
        font-size: 15px;
        line-height: 20px;
        width: 150px;
        height: 27px;
        padding: 2px 0px 0px 10px;
        border-radius: 3px;
        border: 1px solid black;
    }

    .under_inside_content_account_radio {
        display: flex;
        width: 325px;
    }

    .under_inside_content_account_radio_gender {
        accent-color: #a3820b
    }

    .under_inside_content_account_button {
        cursor: pointer;
        height: 29.5px;
        padding: 0px 4px 0px 4px;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 14px;
        margin-left: 6px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #424242;
    }

    .under_inside_content_account_birth {
        width: 150px;
        height: 27px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid black;
    }

    .under_inside_content_account_button_none {
        height: 27px;
        border-radius: 3px;
        margin-left: 4.3px;
        opacity: 0;

    }

    .under_inside_content_selfie_img_content {
        display: block;
        position: relative;
        z-index: 4;
    }

    .under_inside_content_selfie {
        margin-left: 25px;
    }

    .under_inside_content_selfie_text {
        display: flex;
        justify-content: center;
        margin: 45px 0px 0px 0px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        color: #3d3d3d;
    }

    .under_inside_content_selfie_img_outside {
        margin: 14px 0px 0px 0px;
        position: relative;
        justify-content: center;
        height: 150px;
    }

    .under_inside_content_selfie_preview_outside {
        position: relative;
        z-index: 4;
        width: 200px;
        height: 150px;
    }

    .under_inside_content_selfie_preview_text {
        width: 200px;
        position: absolute;
        z-index: 4;
    }

    .under_inside_content_selfie_preview_text_button_outside {
        display: flex;
        justify-content: center;
        margin: 100px 0px 0px 105px;
    }


    .under_inside_content_selfie_preview_text_button>img {
        cursor: pointer;
        width: 45px;
    }

    .under_inside_content_selfie_preview {
        width: 200px;
        position: absolute;
        z-index: 3;
    }

    .under_inside_content_selfie_preview_img_outside {
        display: flex;
        justify-content: center;
    }

    .under_inside_content_selfie_preview_img {
        opacity: 0.55;
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .under_inside_content_selfie_img {
        opacity: 1;
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .under_inside_content_selfie_change_outside {
        position: relative;
    }

    .under_inside_content_selfie_change {
        display: grid;
        justify-content: center;
    }

    .under_inside_content_selfie_input {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        border: 1px solid #ccc;
        display: inline-block;
        padding: 4px 8px;
        cursor: pointer;
        color: #424242;
        font-weight: 700;
        font-size: 15px;
    }

    .under_inside_content_selfie_inside {
        display: block;
    }

    .under_inside_content_selfie_button {
        margin-top: 5px;
        display: inline-block;
        padding: 4px 8px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        color: #424242;
    }



}


@media (max-width:1535px) {
    .homepage {
        margin-left: 23vw;
        width: 77vw;
        height: 100vh;
        display: flex;
        position: relative;
    }

    .middle {
        width: 77vw;
        display: block;
        height: calc(100vh-117px);
    }

    .middle_head {
        position: fixed;
        background-color: #fafaeb;
        z-index: 4;
        filter: drop-shadow(0.6px 0.6px 0.6px #787d7b);
    }

    .head {
        margin-top: 49px;
        width: 77vw;
        height: 63px;
        display: flex;
    }

    .head_content {
        margin-left: 17vw;
        display: flex;
        align-items: center;
    }

    .head_content_text1 {
        font-family: "Hind Madurai";
        font-size: 21px;
        font-weight: 700;
        color: #2b2b2b;
        border-width: 0px;
        letter-spacing: 1px;
        margin-left: 10px;
    }

    .head_content_text2 {
        border-width: 0px;
        margin-left: 10vw;
        padding: 4px 6px 4px 6px;
        font-family: msjhbd;
        font-size: 18px;
        font-weight: 700;
        color: #7d6305;
        letter-spacing: 2px;
        background-color: #fafaeb;
        border-radius: 5px;
    }

    .scrollbars {
        width: 77vw;
        height: 100%;
    }

    .all {
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 112px;
    }


    .under_inside {
        margin-left: 10vw;
        display: block;
        width: 55vw;
        /* position: absolute;
        z-index: 3;
        top: 49px; */
    }

    .under_inside_content {
        display: flex;
        justify-content: center;
        background-color: white;
        border: 1.57px solid #a2a6a4;
        border-radius: 8px;
        margin: 22px 0px 22px 0px;
        filter: drop-shadow(1px 1px 1px #5e5e5e)
    }

    .under_inside_content_account {
        width: 33vw;
        display: block;
        margin: 0px 0px 60px 0px;
    }

    .under_inside_content_account_inside {
        margin-top: 35px;
    }

    .under_inside_content_account_title {
        display: flex;
        justify-content: space-between;
        margin: 0px 15px 0px 0px;
    }

    .under_inside_content_account_title_text {
        font-size: 22.5px;
        font-weight: 600;
        font-family: "Hind Madurai";
        color: #3d3d3d;
        margin: 0px 0px 7px 15px;
    }

    .under_inside_content_account_title_button {
        height: 31px;
        font-size: 16px;
        font-family: "Hind Madurai";
        letter-spacing: 0.3px;
        background-color: #9c7b06;
        color: white;
        font-weight: 500;
        padding: 4px 8px 4px 8px;
        border-width: 0px;
        border-radius: 6px;
    }

    .under_inside_content_account_line_outside {
        display: flex;
        align-items: center;
    }

    .under_inside_content_account_line {
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account_info_outside {
        margin: 0px 15px 0px 15px;
    }


    ::placeholder {
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_intro {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 6px 0px 0px 0px;
    }

    .under_inside_content_account_text {
        width: 90px;
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_intro_text {
        width: 90px;
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_text1 {
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
        margin-top: 2px;
    }


    .under_inside_content_account_text3 {
        line-height: 20px;
    }

    .under_inside_content_account_text4 {
        font-size: 15px;
        line-height: 20px;
    }

    .under_inside_content_account_input {
        width: 267px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }


    .under_inside_content_account_textarea1 {
        width: 309.4px;
        height: 108px;
        border-radius: 3px;
        border: 1px solid black;
        resize: unset;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_textarea2 {
        width: 309.4px;
        max-width: 100%;
        height: 200px;
        min-height: 50px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        resize: vertical;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_form {
        display: flex;
        width: 325px;
        justify-content: space-between;
    }

    .under_inside_content_account_address {
        width: 150px;
        height: 27px;
        padding: 2px 0px 0px 10px;
        border-radius: 3px;
        border: 1px solid black;
    }

    .under_inside_content_account_radio {
        display: flex;
        width: 325px;
    }

    .under_inside_content_account_radio_gender {
        accent-color: #a3820b
    }

    .under_inside_content_account_button {
        height: 29.5px;
        padding: 0px 4px 0px 4px;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 14px;
        margin-left: 6px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #424242;
    }

    .under_inside_content_account_birth {
        width: 150px;
        height: 27px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid black;
    }

    .under_inside_content_account_button_none {
        height: 27px;
        border-radius: 3px;
        margin-left: 4.3px;
        opacity: 0;

    }

    .under_inside_content_selfie {
        margin-left: 28px;
    }

    .under_inside_content_selfie_inside {
        display: block;
    }

    .under_inside_content_selfie_text {
        display: flex;
        justify-content: center;
        margin: 45px 0px 0px 0px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        color: #3d3d3d;
    }

    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: center;
        margin: 14px 0px 0px 0px;
    }

    .under_inside_content_selfie_preview_img {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .under_inside_content_selfie_img {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .under_inside_content_selfie_change {
        display: grid;
        justify-content: center;
    }

}


@media (max-width:1380px) {
    .homepage {
        margin-left: 23vw;
        width: 80vw;
        height: 100vh;
        display: flex;
        position: relative;
    }

    .middle {
        width: 80w;
        display: block;
    }

    .middle_head {
        display: flex;
        position: fixed;
        background-color: #fafaeb;
        z-index: 4;
        filter: drop-shadow(0.6px 0.6px 0.6px #787d7b);
        width: 100%;
    }

    .head {
        margin-top: 49px;
        width: 100%;
        height: 63px;
        display: flex;
        width: 100vw;
    }

    .head_content {
        display: flex;
        align-items: center;
        margin-left: 15.3vw;
    }

    .head_content_text1 {
        font-family: "Hind Madurai";
        font-size: 21px;
        font-weight: 700;
        color: #2b2b2b;
        border-width: 0px;
        letter-spacing: 1px;
        margin-left: 10px;
    }

    .head_content_text2 {
        border-width: 0px;
        margin-left: 10vw;
        padding: 4px 6px 4px 6px;
        font-family: msjhbd;
        font-size: 18px;
        font-weight: 700;
        color: #7d6305;
        letter-spacing: 2px;
        background-color: #fafaeb;
        border-radius: 5px;
    }

    .scrollbars {
        width: 77vw;
        height: 100%;
    }

    .all {
        width: 100%;
        display: block;
        margin-top: 112px;
    }

    .under_inside_content {
        display: flex;
        justify-content: center;
        background-color: white;
        border: 1.57px solid #a2a6a4;
        border-radius: 8px;
        margin: 22px 0px 22px 0px;
        filter: drop-shadow(1px 1px 1px #5e5e5e)
    }

    .under_inside_content_account {
        width: 36vw;
        display: block;
        margin: 0px 0px 60px 0px;
    }

    .under_inside_content_account_inside {
        margin-top: 35px;
    }

    .under_inside_content_account_title_text {
        font-size: 22.5px;
        font-weight: 600;
        font-family: "Hind Madurai";
        color: #3d3d3d;
        margin: 0px 0px 7px 15px;
    }

    .under_inside_content_account_title_button {
        height: 31px;
        font-size: 16px;
        font-family: "Hind Madurai";
        letter-spacing: 0.3px;
        background-color: #9c7b06;
        color: white;
        font-weight: 500;
        padding: 4px 8px 4px 8px;
        border-width: 0px;
        border-radius: 6px;
    }

    .under_inside_content_account_line_outside {
        display: flex;
        align-items: center;
    }

    .under_inside_content_account_line {
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account_info_outside {
        margin: 0px 15px 0px 15px;
    }


    ::placeholder {
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_intro {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 6px 0px 0px 0px;
    }

    .under_inside_content_account_text {
        width: 90px;
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_intro_text {
        width: 90px;
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_text1 {
        font-size: 17px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
        margin-top: 2px;
    }


    .under_inside_content_account_text3 {
        line-height: 20px;
    }

    .under_inside_content_account_text4 {
        font-size: 15px;
        line-height: 20px;
    }

    .under_inside_content_account_input {
        width: 267px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_textarea1 {
        width: 309.4px;
        height: 108px;
        border-radius: 3px;
        border: 1px solid black;
        resize: unset;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_textarea2 {
        width: 309.4px;
        max-width: 100%;
        height: 200px;
        min-height: 50px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        resize: vertical;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_form {
        display: flex;
        width: 325px;
        justify-content: space-between;
    }


    .under_inside_content_account_radio {
        display: flex;
        width: 325px;
    }

    .under_inside_content_account_radio_gender {
        accent-color: #a3820b
    }

    .under_inside_content_account_button {
        height: 29.5px;
        padding: 0px 4px 0px 4px;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 14px;
        margin-left: 6px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #424242;
    }

    .under_inside_content_account_birth {
        width: 150px;
        height: 27px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid black;
    }

    .under_inside_content_account_button_none {
        height: 27px;
        border-radius: 3px;
        margin-left: 4.3px;
        opacity: 0;

    }

    .under_inside_content_selfie {
        margin-left: 0px;
    }

    .under_inside_content_selfie_text {
        display: flex;
        justify-content: center;
        margin: 45px 0px 0px 0px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        color: #3d3d3d;
    }

    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: center;
        margin: 14px 0px 0px 0px;
    }

    .under_inside_content_selfie_img {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .under_inside_content_selfie_preview_img {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }


    .under_inside_content_selfie_change {
        display: grid;
        justify-content: center;
    }



}

@media (max-width:1270px) {

    .scrollbars {
        width: 68vw;
        height: 100%;
    }

    .homepage {
        margin-left: 32vw;
        width: 68vw;
        height: 100vh;
        display: flex;
        position: relative;
    }

    .middle {
        width: 68w;
        display: block;
    }

    .head_content {
        display: flex;
        align-items: center;
        margin-left: 8vw;
    }


    .under_inside {
        margin-left: 3vw;
        display: block;
        width: 60vw;
        /* position: absolute;
        z-index: 3;
        top: 49px; */
    }

    .under_inside_content_account {
        width: 41vw;
        display: block;
        margin: 0px 0px 60px 0px;
    }

    .head_content_text2 {
        border-width: 0px;
        margin-left: 13vw;
        padding: 4px 6px 4px 6px;
        font-family: msjhbd;
        font-size: 18px;
        font-weight: 700;
        color: #7d6305;
        letter-spacing: 2px;
        background-color: #fafaeb;
        border-radius: 5px;
    }
}


@media (max-width:1100px) {

    .head_content {
        display: flex;
        align-items: center;
        margin-left: 11vw;
    }

    .under_inside {
        margin-left: 3vw;
        display: block;
        width: 63vw;
        /* position: absolute;
        z-index: 3;
        top: 49px; */
    }

    .under_inside_content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: white;
        border: 1.57px solid #a2a6a4;
        border-radius: 8px;
        margin: 22px 0px 22px 0px;
        filter: drop-shadow(1px 1px 1px #5e5e5e)
    }

    .under_inside_content_selfie_preview {
        width: 150px;
        position: absolute;
        z-index: 3;
    }

    .under_inside_content_selfie_preview_outside {
        position: relative;
        z-index: 4;
        width: 150px;
        height: 150px;
    }

    .under_inside_content_selfie_preview_text {
        width: 150px;
        position: absolute;
        z-index: 4;
    }

    .under_inside_content_selfie_text {
        display: flex;
        justify-content: start;
        margin: 35px 0px 7px 15px;
        font-size: 22.5px;
        font-weight: 600;
        letter-spacing: 0px;
        font-family: "Hind Madurai";
        color: #3d3d3d;
    }


    .under_inside_content_selfie_img_content {
        display: flex;
        position: relative;
        z-index: 4;
    }

    .under_inside_content_selfie_preview_img_outside {
        display: flex;
        justify-content: start;
    }

    .under_inside_content_selfie_img_outside {
        padding-top: 5px;
        display: flex;
        justify-content: start;
    }

    .under_inside_content_selfie_preview_text_button_outside {
        display: flex;
        justify-content: center;
        margin: 100px 0px 0px 105px;
    }

    .under_inside_content_selfie_button {
        margin-top: 65px;
        display: inline-block;
        padding: 4px 8px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
    }

    .under_inside_content_selfie_change {
        display: grid;
        justify-content: start;
        margin-left: 25px;
    }

    .under_inside_content_selfie_inside {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .under_inside_content_selfie_input {
        display: flex;
        justify-content: start;
        margin-top: 10px;
    }

    .under_inside_content_selfie {
        width: 300px;
        margin-left: 65px;
    }

    .under_inside_content_selfie_line_outside {
        width: 49.5vw;
        display: flex;
        align-items: center;
    }

    .under_inside_content_selfie_line {
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account {
        width: 49.5vw;
        display: block;
        margin: 0px 0px 60px 65px;
    }

    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: start;
        margin: 12px 0px 0px 15px;
    }

    .under_inside_content_selfie_img {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .under_inside_content_selfie_preview_img {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .head_content_text2 {
        border-width: 0px;
        margin-left: 11vw;
        padding: 4px 6px 4px 6px;
        font-family: msjhbd;
        font-size: 18px;
        font-weight: 700;
        color: #7d6305;
        letter-spacing: 2px;
        background-color: #fafaeb;
        border-radius: 5px;
    }
}





@media (max-width:900px) {

    .head_content {
        display: flex;
        align-items: center;
        margin-left: 5.5vw;
    }

    .under_inside {
        margin-left: 1px;
        display: block;
        width: 68vw;
    }

    .under_inside_content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        background-color: white;
        border: 1.57px solid #a2a6a4;
        border-radius: 8px;
        margin: 0px 0px 22px 0px;
        filter: drop-shadow(1px 1px 1px #5e5e5e)
    }


    .under_inside_content_selfie_text {
        display: flex;
        justify-content: start;
        margin: 35px 0px 7px 15px;
        font-size: 22.5px;
        font-weight: 600;
        letter-spacing: 0px;
        font-family: "Hind Madurai";
        color: #3d3d3d;
    }


    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: start;
        margin: 12px 0px 0px 0px;
    }

    .under_inside_content_selfie_change {
        display: grid;
        justify-content: start;
        margin-left: 25px;
    }

    .under_inside_content_selfie_inside {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .under_inside_content_selfie_input {
        display: flex;
        justify-content: start;
        margin-top: 10px;
    }

    .under_inside_content_selfie {
        margin-left: 30px;
    }




    .under_inside_content_selfie_line_outside {
        width: 60vw;
        display: flex;
        align-items: center;
    }

    .under_inside_content_selfie_line {
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account {
        width: 60vw;
        display: block;
        margin: 0px 0px 30px 35px;
    }

    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: start;
        margin: 12px 0px 0px 15px;
    }


    .under_inside_content_account_input {
        width: 240px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_input_password {
        width: 240px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }


    .under_inside_content_account_form {
        display: flex;
        width: 298px;
        justify-content: space-between;
    }

    .under_inside_content_account_form2 {
        display: block;
        width: 298px;
    }

    .under_inside_content_account_radio {
        display: flex;
        width: 298px;
    }


    .under_inside_content_account_textarea1 {
        width: 282.4px;
        height: 108px;
        border-radius: 3px;
        border: 1px solid black;
        resize: unset;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_textarea2 {
        width: 282.4px;
        max-width: 100%;
        height: 200px;
        min-height: 50px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        resize: vertical;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }
}



@media (max-width:700px) {

    .scrollbars {
        width: 66vw;
        height: 100%;
    }

    .homepage {
        margin-left: 34vw;
        width: 66vw;
        height: 100vh;
        display: flex;
        position: relative;
    }

    .middle {
        width: 66w;
        display: block;
    }

    .head_content {
        display: flex;
        align-items: center;
        margin-left: 4vw;
    }

    .under_inside {
        display: block;
        width: 66vw;
    }

    .under_inside_content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        background-color: white;
        border: 1.57px solid #a2a6a4;
        border-radius: 8px;
        margin: 0px 0px 22px 0px;
        filter: drop-shadow(1px 1px 1px #5e5e5e)
    }


    .under_inside_content_selfie_text {
        display: flex;
        justify-content: start;
        margin: 25px 0px 7px 15px;
        font-size: 22.5px;
        font-weight: 600;
        letter-spacing: 0px;
        font-family: "Hind Madurai";
        color: #3d3d3d;
    }


    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: start;
        margin: 12px 0px 0px 0px;
    }

    .under_inside_content_selfie_change {
        display: grid;
        justify-content: start;
        margin-left: 25px;
    }

    .under_inside_content_selfie_inside {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .under_inside_content_selfie_input {
        display: flex;
        justify-content: start;
        margin-top: 10px;
    }

    .under_inside_content_selfie {
        margin-left: 5px;
    }




    .under_inside_content_selfie_line_outside {
        width: 63.5vw;
        display: flex;
        align-items: center;
    }

    .under_inside_content_selfie_line {
        margin-left: 10px;
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account {
        width: 63.5vw;
        display: block;
        margin: 0px 0px 15px 5px;
    }

    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: start;
        margin: 12px 0px 0px 15px;
    }



    .under_inside_content_account_input {
        width: 210px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_input_password {
        width: 210px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_input_password::placeholder {
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 0px;
        color: black;
    }

    .under_inside_content_account_form {
        display: flex;
        width: 268px;
        justify-content: space-between;
    }

    .under_inside_content_account_form2 {
        display: block;
        width: 268px;
    }

    .under_inside_content_account_radio {
        display: flex;
        width: 268px;
        font-size: 13px;
    }

    .under_inside_content_account_text {
        width: 80px;
        font-size: 14px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_text1 {
        font-size: 14px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
        margin-top: 2px;
    }

    .under_inside_content_account_intro_text {
        width: 80px;
        font-size: 14px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_line {
        margin-left: 10px;
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account_button {
        width: 43px;
        height: 29.5px;
        padding: 0px 4px 0px 4px;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 14px;
        margin-left: 6px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #424242;
    }

    .under_inside_content_account_inside {
        margin: 25px 0px 0px 0px;
    }

    .under_inside_content_account_inside2 {
        margin: 0px 0px 0px 0px;
    }

    .under_inside_content_account_textarea1 {
        width: 252.4px;
        height: 108px;
        border-radius: 3px;
        border: 1px solid black;
        resize: unset;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }


    .under_inside_content_account_textarea2 {
        width: 252.4px;
        max-width: 100%;
        height: 200px;
        min-height: 50px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        resize: vertical;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }

    .under_inside_content_account_address {
        width: 150px;
        font-size: 13px;
        height: 27px;
        padding: 2px 0px 0px 10px;
        border-radius: 3px;
        border: 1px solid black;
    }

    .head_content_text2 {
        border-width: 0px;
        margin-left: 11vw;
        padding: 4px 6px 4px 6px;
        font-family: msjhbd;
        font-size: 18px;
        font-weight: 700;
        color: #7d6305;
        letter-spacing: 2px;
        background-color: #fafaeb;
        border-radius: 5px;
    }

    .under_inside_content_account_notice {
        font-family: "Hind Madurai";
        font-size: 13px;
        color: red;
        margin-left: 10px;
        line-height: 19px;
        opacity: 1;
    }

    .under_inside_content_account_notice2 {
        font-family: "Hind Madurai";
        font-size: 13px;
        color: red;
        margin: 4px 0px 0px 10px;
        line-height: 19px;
        opacity: 1;
    }

}


@media (max-width:600px) {
    :global(.settingPage) {
        position: absolute;
        z-index: 4;
    }

    :global(.settingPage.active) {
        display: none;
        position: absolute;
        z-index: 3;
    }

    .scrollbars {
        width: 100vw;
        height: 100%;
    }

    .homepage {
        margin-left: 0vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
    }

    .middle {
        width: 100vw;
        display: block;
    }

    .head_content {
        display: flex;
        align-items: center;
        margin-left: 8vw;
    }

    .under_inside {
        display: block;
        width: 100vw;
    }

    .under_inside_content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        background-color: white;
        border: 1.57px solid #a2a6a4;
        border-radius: 8px;
        margin: 0px 0px 22px 0px;
        filter: drop-shadow(1px 1px 1px #5e5e5e)
    }


    .under_inside_content_selfie_text {
        display: flex;
        justify-content: start;
        margin: 25px 0px 7px 15px;
        font-size: 22.5px;
        font-weight: 600;
        letter-spacing: 0px;
        font-family: "Hind Madurai";
        color: #3d3d3d;
    }


    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: start;
        margin: 12px 0px 0px 0px;
    }

    .under_inside_content_selfie_change {
        display: grid;
        justify-content: start;
        margin-left: 25px;
    }

    .under_inside_content_selfie_inside {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .under_inside_content_selfie_input {
        display: flex;
        justify-content: start;
        margin-top: 10px;
    }

    .under_inside_content_selfie {
        margin-left: 5vw;
    }




    .under_inside_content_selfie_line_outside {
        width: 85vw;
        display: flex;
        align-items: center;
    }

    .under_inside_content_selfie_line {
        margin-left: 10px;
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account {
        width: 85vw;
        display: block;
        margin: 0px 0px 15px 5vw;
    }

    .under_inside_content_selfie_img_outside {
        display: flex;
        justify-content: start;
        margin: 12px 0px 0px 15px;
    }

    .under_inside_content_account_input {
        width: 210px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_input_password {
        width: 210px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }


    .under_inside_content_account_form {
        display: flex;
        width: 268px;
        justify-content: space-between;
    }



    .under_inside_content_account_radio {
        display: flex;
        width: 268px;
    }

    .under_inside_content_account_text {
        width: 80px;
        font-size: 14px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_intro_text {
        width: 90px;
        font-size: 14px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }

    .under_inside_content_account_line {
        margin-left: 10px;
        width: 100%;
        height: 0.5px;
        background-color: #d9d9d9;
    }

    .under_inside_content_account_button {
        width: 43px;
        height: 29.5px;
        padding: 0px 4px 0px 4px;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 14px;
        margin-left: 6px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #424242;
    }

    .under_inside_content_account_inside {
        margin: 25px 0px 0px 0px;
    }

    .under_inside_content_account_inside2 {
        margin: 0px 0px 0px 0px;
    }

    .head_content_text2 {
        border-width: 0px;
        margin-left: 20vw;
        padding: 4px 6px 4px 6px;
        font-family: msjhbd;
        font-size: 18px;
        font-weight: 700;
        color: #7d6305;
        letter-spacing: 2px;
        background-color: #fafaeb;
        border-radius: 5px;
    }
}




@media (max-width:460px) {
    .head_content {
        display: flex;
        align-items: center;
        margin-left: 5vw;
    }

    .under_inside_content_selfie {
        margin-left: 1vw;
    }

    .under_inside_content_selfie_line_outside {
        width: 95vw;
        display: flex;
        align-items: center;
    }

    .under_inside_content_account {
        width: 95vw;
        display: block;
        margin: 0px 0px 15px 1vw;
    }

    .under_inside_content_account_input {
        width: 185px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_input_password {
        width: 185px;
        height: 25px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        font-size: 15px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        padding: 3px 0px 0px 10px;
        color: black;
    }

    .under_inside_content_account_textarea1 {
        width: 227.4px;
        height: 108px;
        border-radius: 3px;
        border: 1px solid black;
        resize: unset;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }


    .under_inside_content_account_textarea2 {
        width: 227.4px;
        max-width: 100%;
        height: 200px;
        min-height: 50px;
        padding: 0px;
        border-radius: 3px;
        border: 1px solid black;
        resize: vertical;
        font-size: 13px;
        letter-spacing: 0.8px;
        font-family: "Hind Madurai";
        line-height: 20px;
        padding: 10px 4px 0px 10px;
        color: black;
    }


    .under_inside_content_account_form {
        display: flex;
        width: 243px;
        justify-content: space-between;
    }

    .under_inside_content_account_form2 {
        display: block;
        width: 243px;
    }

    .under_inside_content_account_radio {
        display: flex;
        width: 243px;
        font-size: 13px;
    }


    .under_inside_content_account_text {
        width: 80px;
        font-size: 14px;
        font-weight: 700;
        font-family: "Hind Madurai";
        color: #7a7a7a;
    }
}