@font-face {
    font-family: "LSANSD";
    src: url("../assets/LSANSD.TTF") format("TTF"),
}

@media (max-width:1920px) {

    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }

    .category_outside {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 20vw;
        background-color: white;
        filter: drop-shadow(1px 1px 1px #5e5e5e);
    }

    .category {
        width: 100%;
        display: block;
        margin: 65px 0px 0px 0px;
    }

    .category_member {
        display: flex;
        align-items: center;
        margin: 38px 0px 0px 3.2vw;
        cursor: pointer;
    }

    .category_member_selfie {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 43px;
        height: 43px;
    }

    .category_member_selfie>img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .category_member_name {
        display: flex;
        font-family: "Hind Madurai";
        font-size: 20px;
        font-weight: 700;
        color: black;
        letter-spacing: 1px;
        margin-left: 11px;
    }


    .category_content {
        display: flex;
        margin-left: 3.5vw;
        margin-top: 15px;
        font-family: Hind Madurai;
        font-size: 20px;
        font-weight: 700;
        color: #a3a2a3;
        letter-spacing: 3px;
    }

    .category_content_line_outside {
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category_content_line {
        width: 16vw;
        height: 0.5px;
        background-color: #d9d9d9;
        margin: 10px 0px 10px 0px;
    }

    .category_content_group_outside {
        width: 12vw;
        margin-left: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 18px;
        border-radius: 30px;
    }

    .category_content_group_outside:hover {
        cursor: pointer;
        background-color: #ebebeb;
        border: 1.8px solid #bbbdbc;
    }

    .category_content_group {
        width: 12vw;
        display: flex;
        align-items: center;
    }

    .category_content_group_image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category_content_group_image>img {
        width: 25px;
        justify-content: center;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 14vw;
        margin-left: 14px;
    }



    .category_content_group_sport {
        display: flex;
        align-items: center;
        font-family: msjhbd;
        color: #2b2b2b;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 16px;
    }


    .category_content_group_type {
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 15px;
        color: #a3a2a3;
    }

    .category_content_pullBall {
        display: flex;
        align-items: center;
        padding: 0px;
        border-width: 0px;
    }

    .category_content_pullBall>img {
        width: 19px;
        /* filter: drop-shadow(0.5px 0.5px 0.5px #707070) */
    }

    .category_content_all {
        display: flex;
        width: 13.8vw;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px 8px 2.7vw;
        font-family: msjhbd;
        font-size: 18px;
        color: #2b2b2b;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .category_content_all_ball {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #bf500b;
        font-size: 17px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball2 {
        cursor: pointer;
        border: 0px;
        background-color: #bf500b;
        color: white;
        font-size: 17px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_water {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #1306c4;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water2 {
        cursor: pointer;
        border: 0px;
        background-color: #1306c4;
        padding: 2px 4px 2px 4px;
        color: white;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water:hover {
        cursor: pointer;
        /* background-color: #d9deff; */
        border: 1.6px solid #4a4a4a;

    }

    .category_content_all_outdoor {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #048741;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor2 {
        cursor: pointer;
        border: 0px;
        background-color: #048741;
        padding: 2px 4px 2px 4px;
        color: white;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_fitness {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #b809a0;
        padding: 2px 4px 2px 4px;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness2 {
        cursor: pointer;
        border: 0px;
        background-color: #b809a0;
        color: white;
        padding: 2px 4px 2px 4px;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness:hover {
        cursor: pointer;
        /* background-color: #fcb3f4; */
        border: 1.6px solid #4a4a4a;
    }
}


@media (max-width:1535px) {

    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }

    .category_outside {
        display: flex;
        justify-content: center;
        width: 23vw;
        background-color: white;
    }

    .category {
        width: 100%;
        display: block;
    }

    .category_member {
        display: flex;
        align-items: center;
        margin: 38px 0px 0px 3.6vw;
        cursor: pointer;
    }

    .category_member_selfie {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 43px;
        height: 43px;
    }

    .category_member_selfie>img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .category_member_name {
        display: flex;
        font-family: "Hind Madurai";
        font-size: 20px;
        font-weight: 700;
        color: black;
        letter-spacing: 1px;
        margin-left: 11px;
    }

    .category_content {
        display: flex;
        margin-left: 4.1vw;
        margin-top: 15px;
        font-family: Hind Madurai;
        font-size: 20px;
        font-weight: 700;
        color: #a3a2a3;
        letter-spacing: 3px;
    }

    .category_content_line_outside {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category_content_line {
        width: 18vw;
        height: 0.5px;
        background-color: #d9d9d9;
        margin: 10px 0px 10px 0px;
    }

    .category_content_all {
        display: flex;
        width: 17.5vw;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px 8px 3vw;
        font-family: msjhbd;
        font-size: 18px;
        color: #2b2b2b;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .category_content_group_outside {
        width: 15vw;
        margin-left: 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 18px;
        border-radius: 30px;
    }

    .category_content_group_outside:hover {
        background-color: #ebebeb;
        border: 1.8px solid #bbbdbc;
    }

    .category_content_group {
        width: 15vw;
        display: flex;
        align-items: center;
    }

    .category_content_group_image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category_content_group_image>img {
        justify-content: center;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12vw;
    }

    .category_content_group_sport {
        display: flex;
        align-items: center;
        font-family: msjhbd;
        color: #2b2b2b;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 16px;
    }


    .category_content_group_type {
        font-weight: 700;
        font-size: 15px;
        color: #a3a2a3;
    }

    .category_content_pullBall {
        display: flex;
        align-items: center;
        padding: 0px;
        border-width: 0px;
    }

    .category_content_pullBall>img {
        width: 19px;
    }


}


@media (max-width:1270px) {
    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }

    .category_outside {
        display: flex;
        justify-content: center;
        width: 32vw;
        background-color: white;
    }

    .category_content_group_outside {
        width: 17vw;
        margin-left: 5.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 18px;
        border-radius: 30px;
    }

    .category_content {
        display: flex;
        margin-left: 6.3vw;
        margin-top: 15px;
        font-family: Hind Madurai;
        font-size: 20px;
        font-weight: 700;
        color: #a3a2a3;
        letter-spacing: 3px;
    }


    .category_content_line_outside {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category_content_line {
        width: 24vw;
        height: 0.5px;
        background-color: #d9d9d9;
        margin: 10px 0px 10px 0px;
    }


    .category_content_all {
        display: flex;
        width: 21.5vw;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px 8px 5vw;
        font-family: msjhbd;
        font-size: 18px;
        color: #2b2b2b;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .category_member {
        display: flex;
        align-items: center;
        margin: 38px 0px 0px 6.3vw;
        cursor: pointer;
    }




    .category_content_group {
        width: 17vw;
        display: flex;
        align-items: center;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15vw;
    }
}



@media (max-width:1100px) {
    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }


    .category_content_group_outside {
        width: 18vw;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 18px;
        border-radius: 30px;
    }

    .category_content {
        display: flex;
        margin-left: 4vw;
        margin-top: 15px;
        font-family: Hind Madurai;
        font-size: 20px;
        font-weight: 700;
        color: #a3a2a3;
        letter-spacing: 3px;
    }

    .category_content_all {
        display: flex;
        width: 23vw;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px 8px 4vw;
        font-family: msjhbd;
        font-size: 18px;
        color: #2b2b2b;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .category_content_all_ball {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #bf500b;
        font-size: 17px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_water {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #1306c4;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;

    }

    .category_content_all_outdoor {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #048741;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_fitness {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #b809a0;
        padding: 2px 4px 2px 4px;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 16vw;
    }

    .category_content_group {
        width: 18vw;
        display: flex;
        align-items: center;
    }


    .category_member {
        display: flex;
        align-items: center;
        margin: 38px 0px 0px 4vw;
        cursor: pointer;
    }

    .category_content_group_sport {
        display: flex;
        align-items: center;
        font-family: msjhbd;
        color: #2b2b2b;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 16px;
    }

    .category_content_group_type {
        font-weight: 700;
        font-size: 14px;
        color: #a3a2a3;
    }
}



@media (max-width:900px) {
    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }

    .category_content_group_outside {
        width: 20vw;
        margin-left: 4vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 18px;
        border-radius: 30px;
    }


    .category_content_all {
        display: flex;
        width: 25vw;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px 8px 3.5vw;
        font-family: msjhbd;
        font-size: 18px;
        color: #2b2b2b;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .category_content_all_ball {
        cursor: pointer;
        margin: 0px 8px 0px 0px;
        border: 0px;
        background-color: white;
        color: #bf500b;
        font-size: 17px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_water {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #1306c4;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;

    }

    .category_content_all_outdoor {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #048741;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_fitness {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #b809a0;
        padding: 2px 4px 2px 4px;
        font-size: 17px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 17.5vw;
    }

    .category_content_group {
        width: 20vw;
        display: flex;
        align-items: center;
    }


    .category_content_group_sport {
        display: flex;
        align-items: center;
        font-family: msjhbd;
        color: #2b2b2b;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 16px;
    }
}



@media (max-width:800px) {
    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }

    .category_content_group_outside {
        width: 21.5vw;
        margin-left: 3.2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 18px;
        border-radius: 30px;
    }


    .category_content_all_ball {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #bf500b;
        font-size: 15px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }


    .category_content_all_ball2 {
        cursor: pointer;
        border: 0px;
        background-color: #bf500b;
        color: white;
        font-size: 15px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_water {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #1306c4;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water2 {
        cursor: pointer;
        border: 0px;
        background-color: #1306c4;
        padding: 2px 4px 2px 4px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;

    }

    .category_content_all_outdoor {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #048741;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }


    .category_content_all_outdoor2 {
        cursor: pointer;
        border: 0px;
        background-color: #048741;
        padding: 2px 4px 2px 4px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_fitness {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #b809a0;
        padding: 2px 4px 2px 4px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness2 {
        cursor: pointer;
        border: 0px;
        background-color: #b809a0;
        color: white;
        padding: 2px 4px 2px 4px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 18vw;
    }

    .category_content_group {
        width: 21.5vw;
        display: flex;
        align-items: center;
    }


    .category_content_group_sport {
        display: flex;
        align-items: center;
        font-family: msjhbd;
        color: #2b2b2b;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 14px;
    }

    .category_content_group_image>img {
        width: 20px;
        justify-content: center;
    }

    .category_content_pullBall>img {
        width: 17px;
    }
}




@media (max-width:700px) {
    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }

    .category_member {
        display: flex;
        align-items: center;
        margin: 38px 0px 0px 3vw;
        cursor: pointer;
    }

    .category_outside {
        display: flex;
        justify-content: center;
        width: 34vw;
        background-color: white;
    }


    .category_content_group_outside {
        width: 22.5vw;
        margin-left: 3.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 15px;
        border-radius: 30px;
    }

    .category_content {
        display: flex;
        margin-left: 3vw;
        margin-top: 15px;
        font-family: Hind Madurai;
        font-size: 20px;
        font-weight: 700;
        color: #a3a2a3;
        letter-spacing: 3px;
    }

    .category_content_all {
        display: flex;
        width: 29vw;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px 8px 3vw;
        font-family: msjhbd;
        font-size: 18px;
        color: #2b2b2b;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .category_content_all_ball {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #bf500b;
        font-size: 15px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball:hover {
        cursor: pointer;
        /* background-color: #fac6a5; */
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_water {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #1306c4;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;

    }

    .category_content_all_outdoor {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #048741;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_fitness {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #b809a0;
        padding: 2px 4px 2px 4px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness:hover {
        cursor: pointer;
        border: 1.6px solid #4a4a4a;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 19.7vw;
    }

    .category_content_group {
        width: 24vw;
        display: flex;
        align-items: center;
    }


    .category_content_group_sport {
        display: flex;
        align-items: center;
        font-family: msjhbd;
        color: #2b2b2b;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 13.5px;
    }

    .category_content_group_type {
        font-weight: 700;
        font-size: 13.5px;
        color: #a3a2a3;
    }

    .category_content_group_image>img {
        justify-content: center;
    }

    .category_content_pullBall>img {
        width: 15px;
        /* filter: drop-shadow(0.5px 0.5px 0.5px #707070) */
    }
}


@media (max-width:600px) {
    :global(.category_shadow) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 4;
    }

    :global(.category_shadow.active) {
        border: 0.7px solid #d9d9d9;
        position: absolute;
        z-index: 1;
    }

    .category_content_all {
        display: flex;
        width: 65vw;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px 8px 15vw;
        font-family: msjhbd;
        font-size: 18px;
        color: #2b2b2b;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .category_outside {
        display: flex;
        justify-content: start;
        width: 100vw;
        /* background-color: #fafafa; */
        background-color: white;
    }

    .category_content_group_outside {
        width: 60vw;
        margin-left: 18vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px 10px 18px;
        border-radius: 30px;
    }

    .category_content_all_ball {
        cursor: pointer;
        border: 0px;
        background-color: white;
        /* color: #f26e02; */
        color: #bf500b;
        font-size: 20px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball2 {
        cursor: pointer;
        border: 0px;
        background-color: #bf500b;
        color: white;
        font-size: 20px;
        font-weight: 700;
        padding: 2px 4px 2px 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_ball:hover {
        cursor: pointer;
        /* background-color: #fac6a5; */
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_water {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #1306c4;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water2 {
        cursor: pointer;
        border: 0px;
        background-color: #1306c4;
        padding: 2px 4px 2px 4px;
        color: white;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_water:hover {
        cursor: pointer;
        /* background-color: #d9deff; */
        border: 1.6px solid #4a4a4a;

    }

    .category_content_all_outdoor2 {
        cursor: pointer;
        border: 0px;
        background-color: #048741;
        padding: 2px 4px 2px 4px;
        color: white;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor {
        cursor: pointer;
        border: 0px;
        background-color: white;
        padding: 2px 4px 2px 4px;
        color: #048741;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_outdoor:hover {
        cursor: pointer;
        /* background-color: #c5fad1; */
        border: 1.6px solid #4a4a4a;
    }

    .category_content_all_fitness {
        cursor: pointer;
        border: 0px;
        background-color: white;
        color: #b809a0;
        padding: 2px 4px 2px 4px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness2 {
        cursor: pointer;
        border: 0px;
        background-color: #b809a0;
        color: white;
        padding: 2px 4px 2px 4px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .category_content_all_fitness:hover {
        cursor: pointer;
        /* background-color: #fcb3f4; */
        border: 1.6px solid #4a4a4a;
    }

    .category_content_group_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 49vw;
    }

    .category_content_group {
        width: 62.5vw;
        display: flex;
        align-items: center;
    }


    .category_content_group_sport {
        display: flex;
        align-items: center;
        font-family: msjhbd;
        color: #2b2b2b;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 20px;
    }

    .category_content_group_type {
        font-weight: 700;
        font-size: 20px;
        color: #a3a2a3;
    }

    .category_content_group_image>img {
        justify-content: center;
    }

    .category_content_pullBall>img {
        width: 20px;
    }

    .category_member_selfie {
        display: inline-block;
        overflow: hidden;
        border: 0.5px solid #858585;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .category_member {
        display: flex;
        align-items: center;
        margin: 70px 0px 20px 19vw;
        cursor: pointer;
    }

    .category_member_selfie>img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .category_content {
        display: flex;
        margin-left: 19vw;
        margin-top: 15px;
        font-family: Hind Madurai;
        font-size: 24px;
        font-weight: 700;
        color: #a3a2a3;
        letter-spacing: 3px;
    }

    .category_member_name {
        display: flex;
        font-family: "Hind Madurai";
        font-size: 25px;
        font-weight: 700;
        color: black;
        letter-spacing: 1px;
        margin-left: 20px;
    }

    .category_content_line_outside {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category_content_line {
        width: 80vw;
        height: 0.5px;
        background-color: #d9d9d9;
        margin: 10px 0px 10px 0px;
    }
}